@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 700px;
    margin: 1rem auto;
    padding: 0 2rem;
    font-family: 'DynaPuff', cursive;
    text-align: center;
}

.menu {
    margin: 0 auto;
    border: 1px solid #392F5A;
    border-radius: 2rem;
    line-height: 6rem;
}

#menu-title {
    font-size: 3rem;
    background-color: #F092DD;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul {
    list-style-type: none; 
}

ul li{
    font-size: 1.75rem;
    border: 1px solid #392F5A;
}

ul li a,
ul li a:visited {
    display: block;
    text-decoration: none;
    color: #392F5A;
}

ul li :is(a:hover, a:focus) {
    background-color: #392F5A;
    color: #F092DD;
}

li:last-child,
li:last-child a:hover {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#amazing-foods {
    margin: 2rem 0;
    font-size: 1.25rem;
    word-spacing: 2px;
    position: sticky;
    bottom: 0;
}

.home {
    font-size: 1.25rem;
}

#amazing-foods a:hover,
.home:hover {
    color: #F092DD;
}

.coming-soon {
    margin-bottom: 9px;
    font-size: 1.25rem;
}

h1:not(#menu-title) {
    background-color: #F092DD;
    margin: 1rem 0;
    padding: 1.5rem 0;
    font-size: 2.5rem;
    border: 1px solid #392F5A;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
    
}



